doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 Contacts
        .cards 
            each contact in data
                .card 
                    h2.card__name #{contact.properties.firstname}  #{contact.properties.lastname}
                    p.card__email #{contact.properties.email}